* {
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  padding: 1em;
  font-family: Avenir-Roman, sans-serif;
  background-color: beige;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: center;
}

.logo {
  width: 10rem;
}

.heading {
  margin-right: 10rem;
}

.nav-bar {
  flex: 4;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04aa6d;
  padding-bottom: 0;
}

.nav-bar-child {
  float: left;
  font-size: 1rem;
}

.nav-bar-child a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 14px 16px;
  text-decoration: none;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-child {
  flex: 4;
  margin-left: 11rem;
}

.heading-child-linkedin {
  width: 8rem;
  height: 8rem;
  margin-right: 16rem;
}

.parent-content {
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border-radius: 30px;
  width: 100%;
  gap: 2rem;
  padding: 3rem;
}

.child-content {
  background-color: darkgray;
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  max-width: 70%;

  border: 2px solid;
}

.img-ross {
  border: 5px solid #555;
  border-radius: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.img-flex {
  flex: 1;
  height: 3em;
  width: 3em;
}

.parent {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  width: 100%;
  gap: 5rem;
  padding: 3rem;
}

.img-news {
  width: 15rem;
}

h2 {
  font-size: 2rem;
}
