* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  padding: 1em;
  font-family: Avenir-Roman, sans-serif;
  background-color: beige;
}

h1 {
  text-align: center;
}

.div-one {
  background-color: darkgray;
}

.div-two {
  background-color: darkgray;
}

.div-three {
  background-color: darkgray;
}

.img-ross {
  border: 5px solid #555;
  border-radius: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.img-flex {
  height: 3em;
  width: 3em;
}
