* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  padding: 1em;
  font-family: Avenir-Roman, sans-serif;
  background-color: beige;
}

h1 {
  text-align: center;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04aa6d;
}

.nav-bar-child {
  float: left;
  font-size: 1rem;
}

.nav-bar-child a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 14px 16px;
  text-decoration: none;
}

.div-one {
  background-color: darkgray;
}

.div-two {
  background-color: darkgray;
}

.div-three {
  background-color: darkgray;
}

.img-ross {
  border: 5px solid #555;
  border-radius: 10%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.img-flex {
  height: 3em;
  width: 3em;
}
